<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Indie+Flower&family=Sacramento&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
    <center>
        <p id="heading">Foodies Paradise</p>
    </center>
    <br><br>
    <div id="formcss" style="width:600px; margin:0 auto;">
        <form id="formm" name="form1" ng-app="myApp" ng-controller="validateCtrl" novalidate align="center"
            action="/login" method="post">
            <br>
            <p style="font-size: xx-large; color:#32502E ;">LOGIN HERE</p><BR>
            <p style="font-size: xx-large; color:#32502E ;">Enter Your Details</p>
            <br>
            <p>Enter Name&nbsp;&nbsp;&nbsp;
                <input type="text" name="name" ng-model="name" required>
            </p> <br>
            <p>Enter Password&nbsp;&nbsp;&nbsp;
                <input type="password" name="password" ng-model="password" required>
            </p> <br>
            <input class="buttonz" type="submit" value="Submit"><br><br>

        </form>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function ($scope) {

        });
    </script>
</body>

</html>