.menu{
    display: flex;
}
#snack_div {
    background-image: url("images/dish-1.png");
    height: 300px;
    width: 300px;
}
#main_course_div {
    background-image: url("images/dish-2.png");
    height: 300px;
    width: 300px;
}
#drinks_div {
    background-image: url("images/dish-3.png");
    height: 300px;
    width: 300px;
}
